# -*- coding: utf-8 -*-
% if flash:
	<div id="flash_messages">
		% if 'error' in flash:
		<div class="flash_message error">
			<ul>
				% for message in flash['error']:
					<li>${message}</li>
				% endfor
			</ul>
		</div>
		% endif
		% if 'notice' in flash:
		<div class="flash_message notice">
			<ul>
				% for message in flash['notice']:
					<li>${message}</li>
				% endfor
			</ul>
		</div>
		% endif
		% if 'info' in flash:
		<div class="flash_message info">
			<ul>
				% for message in flash['info']:
					<li>${message}</li>
				% endfor
			</ul>
		</div>
		% endif
		% if 'success' in flash:
		<div class="flash_message notice">
			<ul>
				% for message in flash['success']:
					<li>${message}</li>
				% endfor
			</ul>
		</div>
		% endif
	</div>
	<script>
		$('#flash_messages').delay(6000).slideUp(400);
	</script>
% endif