@charset "UTF-8";

/* Start Element Overrides */

* {margin:0;padding:0;}

html, body {height: 100%;}

body{
	background: white;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	color: #333;
	margin: 0;
	padding: 0;
	text-align: left;
	direction: ltr;
	unicode-bidi: embed;
	overflow-y: scroll;
}

body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

a {
	color: #258fcd; 
	text-decoration:none;
}

a:hover { 
	text-decoration: underline;
}

a:active { 
	outline: 0 none;
}

img, a img {
	border:none;
}

form{
	display: inline;
}

/* End Element Overrides */

/* Start Layout */
#wrap {min-height: 100%;}

#main {
	overflow:auto;
	padding-bottom: 55px;
}  /* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -55px; /* negative value of footer height */
	height: 55px;
	clear:both;
	background-color: #EBEFF9;
}

#footer-inner{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#header{
	height: 40px;
	background-color: #EBEFF9;
}

#header-inner{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#logo{
	float: left;
	margin-top: 5px;
	width: 200px;
}

#user-menu{
	float: right;
	text-align: center;
	width: 200px;
	padding: 5px;
	font-size: 12px;
	background: white;
	font-weight: bold;
}

#content{
	margin-top: 20px;
}

#content-inner{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#copyright{
	padding: 20px;
	text-align: center;
	font-weight: bold;
}

#page-header{
	margin-bottom: 10px;
	padding: 10px;
	background-color: #efefef;
}

#page-header .title{
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: bold;
}

#page-header .subtitle{
	font-size: 13px;
	color: #999999;
}

#page-content{
	margin-top: 20px;
	padding: 0 30px 0 30px;
}

#page-content .title{
	font-size: 15px;
	font-weight: bold;
}

#page-content .subtitle{
	color: #999999;
	font-size: 12px;
}

#page-content .body{
	padding: 20px;
	text-align: center;
	font-size: 20px;
}

/* End Layout*/


/* Start Common Classes */
.column, .left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
	margin: 0;
	padding: 0;
}

.hidden {
	display:none;
}

.form{
	padding: 20px;
	background-color: #EBEFF9; 
}

.form .title{
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
}

.field{
	margin-bottom: 5px;
}

label{
	cursor: pointer;
}

.input{

}

.field input[type="text"], .field input[type="password"]{
	width: 100%;
	font-size: 18px;
}

.field input[type="checkbox"]{
	vertical-align: middle;
}

.button{
	padding: 5px;
}

.buttons{
	margin: 10px 0 10px 0;
	text-align: right;
}

/* End Common Classes*/

/* Start Twitter Style Flash Messages */
	
.flash-message{
    display: none;
    width: 100%;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
    overflow: visible;
    background-color: #efefef;
}

.flash-message ul, .flash-message ul li{
    list-style: none;
    margin:0;
    padding:0;
}

#flash-message-list{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

/* End Twitter Style Flash Messages */