# -*- coding: utf-8 -*-
<%inherit file="/templates/content.html" />

<%def name="head_tags()">

</%def>
<%def name="body()">
	<br /><br />
	<center>
		<form action="/signup" method="post" class="form"> 
				<input type="hidden" name="next" value="${next}" /> 
				<div class="field">
					<label for="username">
						Username
					</label>
					<div class="text_field">
						<input type="text" size="25" id="username" name="username"/>
					</div>
				</div>
				
				<div class="field">
					<label for="password">
						Password
					</label>
					<div class="text_field">
						<input type="password" size="25" id="password" name="password"/>
					</div>
				</div>
				<div class="field">
					<label for="password2">
						Re enter Password
					</label>
					<div class="text_field">
						<input type="password" size="25" id="password2" name="password2"/>
					</div>
				</div>
				<input type="submit" value="Signup" />
			</form> 
	</center>
</%def>